<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Your Review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST" action="/">
            {% csrf_token %}
            {% comment %} {& if has_error &}
                <p>This form is invalid - Please enter a valid user namme!<p>
            {% endif%} {% endcomment %}
            {% comment %} <label for="username">Your Name</label>
            <input id="username" name="username" type="text"> {% endcomment %}
            {{ form }}
            <button type="submit">Send</button>
        </form>
      
        <script src="" async defer></script>
    </body>
</html>